@font-face {
  font-family: 'Pilowlava';
  src: local('Pilowlava-Atome'), url('./assets/fonts/Pilowlava-Atome.woff');
}

@font-face {
  font-family: 'AppleSD Regular';
  src: local('AppleSDGothicNeoRegular'), url('./assets/fonts/AppleSDGothicNeoRegular.ttf');
}

@font-face {
  font-family: 'AppleSD Bold';
  src: local('AppleSDGothicNeoBold'), url('./assets/fonts/AppleSDGothicNeoBold.ttf');
}

:root {
  font-family: 'AppleSD Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  --container-width: 360px;
  --header-height: 72px;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);

  --white: rgba(234, 247, 246, 0.1);
  --black: #2d2d2c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 360px) {
  :root {
    --container-width: 360px;
    --container-padding: 24px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-width: 768px;
    --container-padding: 40px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-height: 88px;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-width: 1200px;
    --container-padding: 120px;
  }
}

@media (min-width: 1366px) {
  :root {
    --container-width: 1200px;
    --container-padding: 120px;
  }
}

@media (min-width: 1440px) {
  :root {
    --container-width: 1200px;
    --container-padding: 240px;
  }
}

@media (min-width: 1552px) {
  :root {
    --container-width: 1440px;
    --container-padding: 240px;
  }
}

@media (min-width: 1680px) {
  :root {
    --container-width: 1552px;
    --container-padding: 360px;
  }
}

@media (min-width: 1760px) {
  :root {
    --container-width: 1680px;
    --container-padding: 360px;
  }
}

@media (min-width: 1920px) {
  :root {
    --container-width: 1680px;
    --container-padding: 420px;
  }
}

@media (min-width: 2560px) {
  :root {
    --container-width: 1552px;
    --container-padding: 420px;
  }
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'AppleSD Regular';
  font-size: 16px;
  line-height: 24px;
}

h1 a {
  font-family: 'Pilowlava';
  color: var(--black);
  font-size: 36px;
  font-weight: 500;
  line-height: 46px; /* 166.667% */
  text-decoration: none;
}

h1 {
  font-family: 'AppleSD Regular';
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
  line-height: 46px; /* 166.667% */
}

@media (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 42px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 54px;
  }
}

p,
h1 {
  margin: 0;
}

a,
p {
  font-size: 18px;
  color: var(--black);
}

a {
  font-family: 'AppleSD Bold';
  text-underline-offset: 4px;
  letter-spacing: -0.187px;
}

a:hover {
  color: var(--black);
}

p,
h3 {
  font-family: 'AppleSD Regular';
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white);
  }
  a:hover {
    color: var(--accent-blue);
  }
  button {
    background-color: #f9f9f9;
  }
}
